<!doctype html>
<html lang="en">
    <head>
		<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
		<script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>
    </head>
    <body>
	    <div id="map" style="width:100%; height:500px;"></div>
        <h1>Trashtag</h1>
		<table border=1 cellpadding=7>
            <tr>
                <th>Street</th>
				<th>Latitude</th>
				<th>Longitude</th>
            </tr>
            {% for obj in object_list %}
            <tr>
                <td>{{ obj.street }}</td>
				<td>{{ obj.latitude }}</td>
				<td>{{ obj.longitude }}</td>
            </tr>
            {% endfor %}
        </table>
		<script>
		var mymap = L.map('map').setView([38.63, -121.43], 9);
		L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFya3NoZW5hbnMiLCJhIjoiY2lyM2QydzlvMDAxZmhzbnF2c3o1NTVpdSJ9.bKnGsClqqAmdol8nCUs4mQ', {
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		maxZoom: 18,
		id: 'trashtag',
		accessToken: 'pk.eyJ1IjoibWFya3NoZW5hbnMiLCJhIjoiY2lyM2RxYnJ1MDAxcmh5bnFyZmZsY2lrYiJ9.cx1HTKFDjeolfmdtsQYHBQ'
		}).addTo(mymap);
		var data = {
              "type": "FeatureCollection",
              "features": [
                {% for obj in object_list %}
                {
                  "type": "Feature",
                  "properties": {
				  "name": "Street",
                    //"street": "{{ obj.street }}",
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [{{ obj.longitude }}, {{ obj.latitude }}]
                  }
                }{% if not loop.last %},{% endif %}
                {% endfor %}
              ]
            };
			var dataLayer = L.geoJson(data, {
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(feature.properties.street);
                }
            });
            L.geoJson(data).addTo(mymap);
		</script>
    </body>
</html>